a {
    text-decoration: none !important;
}



.ul {

    display: flex;
    gap: 4rem;
    font-size: 3rem;


}

.li {
    list-style-type: none;

}

.p {

    color: red;

}

.p:hover {


    color: white;

}
.cabecalho{
    width: 90%;
}

@media (max-width : 1764px) {

        


}

@media (max-width: 455px) {

    
}