 .nav {

     padding: 3% 0% 0% 10%;

 }

 .ul {

     display: flex;
     gap: 4rem;
     font-size: 3rem;
     list-style-type: none;
     
    
 }
 .p{
    text-decoration: none;
    color: red;
    
 }

