 .titulo {

       
     font-size: 4rem;
     color: white;
     text-shadow: 2px 2px 2px #111;
     padding-left: .5rem;
    

 }

 .titulo2 {
     color: rgb(253, 0, 0);
 }

 .text_jogo {

     margin-left: 3rem;
     font-size: 1.5rem;
     color: white;
     text-shadow: 2px 2px 2px #111;
     font-size: 2rem;

 }

 .apresentacao {

    
     display: flex;
     width: 80%;
   

 }

 .apresentacao_conteudo {

    
     width: 60%;
     display: flex;
     flex-direction: column;
     gap: 3rem;

 }

 @media (max-width : 630px){

    .titulo{
        font-size: 3rem;
    }

    .text_jogo{
        font-size: 1.7rem;
        margin: auto;
    }

    

    .apresentacao{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width : 480px){

    .titulo{
        font-size: 2rem;
    }

    .text_jogo{
        font-size: 1.5rem;
        margin: auto;
    }

    

    .apresentacao{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}